[submodule "workshops/workshop_1/workshop_1"]
	path = workshops/workshop_1/workshop_1
	url = git@github.com:bu-bioinfo-comp-workshops/workshop_1.git
[submodule "workshops/workshop_2/workshop_2"]
	path = workshops/workshop_2/workshop_2
	url = git@github.com:bu-bioinfo-comp-workshops/workshop_2.git
